# Ignore all hidden files
.*

# Ignore all folders containing extensive data
/Training_set_IMDB/
/LoRA_IMDB_adapted_T5_wikisql/
/T5-Finetuned-with-IMDB-Spider/
/T5-small-fine-tuned-Spider/
/T5-small-finetuned-wikisql/
/T5-fine-tuned-with-IMDB-wikisql/
*.out
*.err
/
